<mat-toolbar color="background">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <a class="foresight" routerLink="/"><img src="../../../../assets/fa-logo.png" alt="Foresight Analytics" class="logoImage"></a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="navItems">
            <li>
                <a routerLink="/signup">Signup</a>
            </li>
            <li>
                <a routerLink="/login">Login</a>
            </li>
            <li>
                <a routerLink="/map">Map</a>
            </li>
            <li>
                <a href="">Logout</a>
            </li>
        </ul>
    </div>
</mat-toolbar>