<section class="signupForm">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <h1>Sign Up</h1>
    <mat-form-field>
      <input 
      type="email"
      matInput
      placeholder="Your Email"
      ngModel
      name="email"
      required
      #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input type="password"
        matInput
        placeholder="Your Password"
        ngModel
        name="password"
        required
        minlength="6"
        #pwInput="ngModel">
        <mat-hint align="">Should be at least 6 characters long</mat-hint>
        <mat-error>Has to be at least 6 characters long</mat-error>
      </mat-form-field>
        <mat-checkbox
        ngModel
        name="agree"
        required
        labelPosition="after"
        color="primary">Agree to Terms and Conditions</mat-checkbox>
      <button 
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid">Submit</button>
  </form>
</section>
